.wrapper
  = render 'shared/side_bar'
%div.chat
  %div.header
    %div.left-header
      %div.left-header__title 
      = @group.name
      %div.left-header__members
        %div.sub-title Member :
        %div.member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    %div.rihgt-header
      %a.right-header Edit
  %div.messages
    = render @messages
  %div.form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'